<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
            <div class="col-md-3  bg-dark" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>2024 - Present</p>
                <div class="h5">Master's Degree</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">Master of Science</div>
                 <h4 class="category">Missouri University of Science and Technology
                 </h4>
                 <ul>
                      <li>Pursuing Master's in Computer Science.</li>
                 </ul>
              </div>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3  bg-dark" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Rajiv Gandhi University of Science and Technology
               </h4>
               <ul>
                    <li>Completed B.Tech in Computer Science and Engineering with <b>3.7 GPA</b>.</li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-dark" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2017</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Pre University Course</div>
               <h4 class="category">Rajiv Gandhi University of Science and Technology
               </h4>
               <ul>
                  <li>
                      Completed my Pre University Course with<b> 3.6 GPA</b>.
                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>