<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn" href="https://www.facebook.com/mehul.kothari.39" target="_blank">
        <i class="fab fa-lg fa-light fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn" href="https://www.instagram.com/mehul_kothari05/" target="_blank">
        <i class="fab  fa-lg fa-light fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn" href="https://twitter.com/MehulKo18943279" target="_blank">
        <i class="fab  fa-lg fa-light fa-twitter fa-2x " aria-hidden="true"></i>
      </a>

      <a class="cc-github btn" href="https://github.com/mehulk05" target="_blank">
        <i class="fab  fa-lg fa-dark fa-github" aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>
