<div class="container" id="about">
    <div class="row">
      <div class="col-lg-12 ">
          <div class="text-center">
          <p class="text-muted mb-5"> 
              I am a dedicated and innovative application developer with two years of hands-on experience
              in the dynamic world of full stack development and software life cycle management. 
              As an Analyst at DBS Bank, I honed skills in Angular, Java, Spring Framework, 
              and API automation. My comprehensive skill set spans databases, REST APIs, JavaScript frameworks, Data Analytics and Python.
              Experienced in agile methodologies and effective communication, I thrive in collaborative environments. 
              From crafting intuitive user interfaces to optimizing back-end functionality,
              I successfully managed projects with a focus on creative problem-solving.  
              Ready to bring my diverse skill set to a new role and drive impactful solutions !!! 
          </p>

         </div>
      </div>
    </div>
</div>
