<div class="container timeline-container">
  <div class="row">
    <div class="col-lg-12 timeline">
      <h1>Work Experience</h1>
      <div class="timeline-item" *ngFor="let experience of workexp">
        <div class="timeline-icon">
          <i class="fas fa-briefcase"></i>
        </div>
        <div class="timeline-content  shadow border">
          <h2>{{experience.company}}</h2>
          <h3>{{experience.role}}</h3>
          <span class="date">{{experience.startDate}} - {{experience.endDate}}</span>
           <ul>
            <li *ngFor="let duty of experience.duties">{{duty}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

