<section class="bgimage page-header-image" id="home">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="profile-image-container">
          <img src="../../assets/images/profile.jpeg" alt="profile picture" width="250" height="250" class="rounded-circle profile-image">
          <div class="light-effect"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hero-text" data-aos="fade-right">
        <h1 class="hero_title">Hi, it's me Susmitha Jejigari</h1>
        <p class="hero_desc">I am a Software Engineer by Profession</p>
        <div class="social-buttons" data-aos="zoom-in">
          <a href="https://github.com/Susmitha-J" target="_blank" class="btn btn-dark btn-rounded custom-icon">
            <i class="fab fa-lg fa-light fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank" class="btn btn-dark btn-rounded custom-icon">
            <i class="fab fa-lg fa-light fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

